@font-face {
  font-family: "Nintendo DS BIOS";
  src: url(./../assets/Fontes/Nintendo-DS-BIOS.ttf);
}

@font-face {
  font-family: "3Dventure";
  src: url(./../assets/Fontes/3Dventure.ttf);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Nintendo DS BIOS", sans-serif;
  font-size: 2.5rem;
}

h1 {
  font-size: 2.5rem;
}

.header-principal {
  display: flex;
  flex-direction: row;
  background-color: black;
  box-shadow: -0.625rem 0 0 0 black, 0.625rem 0 0 0 black, 0 -0.625rem 0 0 black, 0 0.625rem 0 0 black;
  height: 2rem;
  margin: 0.625rem;
  justify-content: space-between;
  font-size: 1.875rem;
}

.nav-direita, .nav-esquerda {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.nav-esquerda {
  padding-left: 2rem;
}

.icon-android {
  padding-left: 2rem;
}

.nav-opcao {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  color: inherit;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.nav-opcao:hover {
  transform: scale(1.05);
}

.header-nav-icons {
  padding-right: 0.5rem;
}

.container-geral {
  display: flex;
  padding: 2.5rem 0 0 6rem;
}

.menu-lateral {
  display: flex;
  flex-direction: column;
  cursor: default;
}

.tempo-de-partida {
  text-align: center;
}

.campo-especificacao {
  text-align: center;
  font-size: 2.188rem;
  box-shadow: -0.156rem 0 0 0 black,
  0.156rem 0 0 0 black,
  0 -0.156rem 0 0 black,
  0 0.156rem 0 0 black;
}

.timer {
  font-size: 4.375rem;
}

.especificacoes-jogo {
  display: flex;
  padding-top: 3rem;
  font-size: 1.875rem;
}

.container-tamanho-tabuleiro {
  padding-left: 2rem;
}

.container-contador-jogadas{
  display: flex;
  align-items: center;
  padding-top: 3rem;
  font-size: 1.875rem;
}

.titulo-contador{
  padding-right: 10px;
}

.quantidade-contador{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.375rem;
  height: 2.188rem;
  background-color: black;
  color: white;
  box-shadow: -0.156rem 0 0 0 black,
  0.156rem 0 0 0 black,
  0 -0.156rem 0 0 black,
  0 0.156rem 0 0 black;
}

.container-modo-trapaça {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.875rem;
  padding-top: 30rem;
}

.icon-trapaca {
  width: 1.5rem;
}

.container-meio {
  padding-left: 16rem;
  display: flex;
  flex-direction: column;
}

.container-tabuleiro {
  display: flex;
  flex-direction: column;
}

.container-ranking {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ranking-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.875rem 0 1.875rem 0;
}

.linha-horizontal {
  background-color: #000;
  height: 0.125rem;
  margin: 0;
}

.card-ranking {
  padding-bottom: 1rem;
}

.card-ranking-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  font-size: 1.875rem;
  box-shadow: -0.156rem 0 0 0 black,
  0.156rem 0 0 0 black,
  0 -0.156rem 0 0 black,
  0 0.156rem 0 0 black;
}

.container-icone-nome-jogador {
  display: flex;
  align-items: center;
}

.icone-fail {
  width: 1.458rem;
}

.nome-jogador {
  padding-left: 0.5rem;
}

.container-tempo-data {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.tempo-ranking {
  display: flex;
  justify-content: space-between;
  padding-top: 0.438rem;
}

.icone-trofeu {
  width: 1.875rem;
  filter: invert(81%) sepia(35%) saturate(2502%) hue-rotate(357deg) brightness(99%) contrast(107%);
}
