@font-face {
  font-family: "Nintendo DS BIOS";
  src: url(./../assets/fonts/Nintendo-DS-BIOS.ttf);
  src: url(./../assets/fonts/Nintendo\ DS\ BIOS\ Regular.woff2)
}

@font-face {
  font-family: "3Dventure";
  src: url(./../assets/fonts/3Dventure.ttf);
  src: url(./../assets/fonts/3Dventure.woff2)
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Nintendo DS BIOS', sans-serif;
  font-size: 2.5rem;
  min-height: 100vh;
}

.main-header {
  display: flex;
  flex-direction: row;
  background-color: black;
  box-shadow: -0.625rem 0 0 0 black, 0.625rem 0 0 0 black, 0 -0.625rem 0 0 black, 0 0.625rem 0 0 black;
  height: 2rem;
  margin: 0.625rem;
  justify-content: space-between;
  font-size: 1.875rem;
}

.left-navigation, .right-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.left-navigation {
  padding-left: 2rem;
}

.logoff-icon {
  padding-left: 0.5rem;
  transform: scaleX(-1);
}

.navigation-option {
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.navigation-option:hover {
  transform: scale(1.05);
}

.header-nav-icons {
  padding-right: 0.5rem;
}

h1 {
  font-family: '3Dventure';
  font-style: normal;
  font-weight: 500;
  font-size: 4.375rem;
  line-height: 4.5rem;
  text-align: center;
  padding: 3rem 0 0 0;
}

form {
  font-size: 1.875rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  border: 0.063rem solid black;
  padding: 0.313rem;
  margin: 1.375rem 1.25rem;
  flex-direction: column;
  border-radius: 0.063rem;
  font-family: 'Nintendo DS BIOS';
  box-shadow: -0.125rem 0 0 0 black,
              0.125rem 0 0 0 black,
              0 -0.125rem 0 0 black,
              0 0.125rem 0 0 black;
}

.action-buttons {
  display: flex;
  justify-content: center;
  
}

.default-button {
  width: 18.75rem;
  padding: 0.313rem;
  margin: 1.25rem 0.625rem;
  background-color:white;
  text-align: center;
  font-family: 'Nintendo DS BIOS';
  font-size: 1.875rem;
  color: black;
  box-shadow: -0.25rem 0 0 0 black,
              0.25rem 0 0 0 black,
              0 -0.25rem 0 0 black,
              0 0.25rem 0 0 black;
  cursor: pointer;
}

.table-ranking {
  max-width: 38.625rem;
  margin: 0 auto;
  border: 0.125rem solid #000000;
}

.trophy-table-ranking {
  position: relative;
}

.first-place-trophy {
  filter: invert(81%) sepia(35%) saturate(2502%) hue-rotate(357deg) brightness(99%) contrast(107%);
}

.second-place-trophy {
  filter: invert(76%) sepia(0%) saturate(2%) hue-rotate(28deg) brightness(92%) contrast(84%);
}

.third-place-trophy {
  filter: invert(52%) sepia(32%) saturate(5828%) hue-rotate(21deg) brightness(96%) contrast(98%);
}

.trophy-table-ranking img {
  position: absolute;
  top: -0.5rem;
  left: -2.5rem;
}

.item-table-ranking {
  width: 100%;
  display: grid;
  grid-template-columns: 0fr 0.5fr 2.2fr 2.2fr 1.2fr;
  align-items: center;
  border-bottom: 0.125rem solid #000;
} 

.item-table-ranking:last-child {
    border-bottom: 0;
}

.position-table-ranking {
  font-size: 1.875rem;
  text-align: center;
}

.player-name-table-ranking {
  font-size: 1.875rem;
  padding-left: 1rem;
}

.game-mode-table-ranking {
    font-size: 1.563rem;
}

.match-details-table-ranking {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.1rem;
  padding: 0.875rem 0 0.875rem 0;
}


.plays-duration-table-ranking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.25rem 0 0 0;
    gap: 1rem;
}

.subtitle-table-ranking {
    display: flex;
    justify-content: center;
    font-size: 1.563rem;
    padding-top: 1.188rem;
    gap: 3rem;
}

.subtitle-table-ranking-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.zero-results {
  padding: 0.5rem 1rem;
  text-align: center;
}

::placeholder {
    font-family: 'Nintendo DS BIOS';
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.375rem;
}

input[value="Quero me cadastrar"] {
  display: flex;
  justify-content: center;
}

/*FOOTER*/
footer {
  font-family: "Nintendo DS BIOS";
  font-size: 1.25rem;
  color: #fffefe;
  background-color: #000000;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4rem;
}

