@font-face {
  font-family: "Nintendo DS BIOS";
  src: url(./../assets/Fontes/Nintendo-DS-BIOS.ttf);
}

@font-face {
  font-family: "3Dventure";
  src: url(./../assets/Fontes/3Dventure.ttf);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Nintendo DS BIOS", sans-serif;
  font-size: 2.5rem;
}

.header-principal {
  display: flex;
  flex-direction: row;
  background-color: black;
  box-shadow: -10px 0 0 0 black, 10px 0 0 0 black, 0 -10px 0 0 black, 0 10px 0 0 black;
  height: 2rem;
  margin: 10px;
  justify-content: space-between;
  font-size: 1.875rem;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.icon-android {
  padding-left: 2rem;
}

.nav-opcao {
  padding-right: 2rem;
}

.header-nav-icons {
  padding-right: 0.5rem;
}

.menu-lateral {
  display: flex;
  flex-direction: column;
}

.especificacoes-jogo {
  display: flex;
}