@import url("http://fonts.cdnfonts.com/css/nintendo-ds-bios");

@font-face {
  font-family: "3Dventure";
  src: url(./../assets/Fontes/3Dventure.ttf);
}

h1 {
  font-family: '3Dventure';
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 72px;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Nintendo DS BIOS", sans-serif;
  font-size: 2.5rem;
}

.header-principal {
  display: flex;
  flex-direction: row;
  background-color: black;
  box-shadow: -10px 0 0 0 black, 10px 0 0 0 black, 0 -10px 0 0 black, 0 10px 0 0 black;
  height: 2rem;
  margin: 10px;
  font-size: 1.875rem;
}

.icon-header {
  width: 100%;
}

.container-principal{
  display: flex;
  flex-direction: column;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 0 250px 0 250px;
  
}

.card-selecao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 370px;
  width: 300px;
  align-items: center;
  border: 1px solid black;
  padding: 40px;
  margin: 20px 0;
  border-radius: 1px;
  font-family: 'Nintendo DS BIOS';
  font-size: 20px;
  box-shadow: -2px 0 0 0 black,
              2px 0 0 0 black,
              0 -2px 0 0 black,
              0 2px 0 0 black;
  
}

.card-titulo{
  font-family: '3Dventure';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

.icon-people{
  width: 190px;
  height: 190px;
}
