@import url("http://fonts.cdnfonts.com/css/nintendo-ds-bios");

@font-face {
  font-family: "3Dventure";
  src: url(./../assets/Fontes/3Dventure.ttf);
}

h1 {
  font-family: '3Dventure';
  font-style: normal;
  font-weight: 500;
  font-size: 4.375rem;
  line-height: 4.5rem;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Nintendo DS BIOS", sans-serif;
  font-size: 2.5rem;
}

.header-principal {
  display: flex;
  flex-direction: row;
  background-color: black;
  box-shadow: -0.625rem 0 0 0 black, 0.625rem 0 0 0 black, 0 -0.625rem 0 0 black, 0 0.625rem 0 0 black;
  height: 2rem;
  margin: 0.625rem;
  font-size: 1.875rem;
}

.icon-header {
  width: 100%;
}

.container-principal{
  display: flex;
  flex-direction: column;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 18.75rem 0 18.75rem;
  
}

.card-selecao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 23.125rem;
  width: 18.75rem;
  align-items: center;
  border: 0.063rem solid black;
  padding: 1.25rem;
  margin: 1.25rem 3.125rem;
  border-radius: 0.063rem;
  font-family: 'Nintendo DS BIOS';
  font-size: 1.25rem;
  box-shadow: -0.125rem 0 0 0 black,
              0.125rem 0 0 0 black,
              0 -0.125rem 0 0 black,
              0 0.125rem 0 0 black;
  
}

.card-titulo{
  font-family: '3Dventure';
  font-style: normal;
  font-weight: 500;
  font-size: 2.125rem;
  line-height: 1.875rem;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

p{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.card-imagem{
  width: 11.875rem;
  height: 11.875rem;
}

.container-tabuleiro{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.5rem 0 0 0;
}

.texto-seletor{
  font-size: 2.5rem;
  padding-right: 0.75rem;
}

select{
  display: flex;
  justify-content: center;
  width: 6.25rem;
  height: 2.5rem;
  box-shadow: -0.125rem 0 0 0 black,
              0.125rem 0 0 0 black,
              0 -0.125rem 0 0 black,
              0 0.125rem 0 0 black;
  font-family: 'Nintendo DS BIOS';
  font-style: normal;
  font-weight: 500;
  font-size: 2.188rem;
  padding-left: 1.25rem;
}

.botao{
  display: flex;
  justify-content: center;
  margin: 3.75rem;

}

.enviar {
  display: flex;
  box-sizing: border-box;
  width: 18.75rem;
  background: #000000;
  font-family: 'Nintendo DS BIOS';
  font-size: 1.875rem;
  color: #FFFEFE;
  box-shadow: -0.438rem 0 0 0 black,
              0.438rem 0 0 0 black,
              0 -0.438rem 0 0 black,
              0 0.438rem 0 0 black;
  cursor: pointer;
}

.enviar:hover {
  transform: scale(1.1);
}

input[value="Jogar"] {
  display: flex;
  justify-content: center;
}