@font-face {
  font-family: "Nintendo DS BIOS";
  src: url(./../assets/Fontes/Nintendo-DS-BIOS.ttf);
}

@font-face {
  font-family: "3Dventure";
  src: url(./../assets/Fontes/3Dventure.ttf);

}

body {
  font-family: 'Nintendo DS BIOS', sans-serif;
  font-size: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.formulario {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(1fr 1fr);
}

.header-principal {
  display: flex;
  flex-direction: row;
  background-color: black;
  box-shadow: -10px 0 0 0 black, 10px 0 0 0 black, 0 -10px 0 0 black, 0 10px 0 0 black;
  height: 2rem;
  margin: 10px;
  font-size: 1.875rem;
}

.icon-header {
  width: 100%;
}

h1 {
  font-family: '3Dventure';
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 72px;
  text-align: center;
}

form {
  max-width: 480px;
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.input-padrao {
  height: 24px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px 0;
  border-radius: 1px;
  outline: 0;
  font-family: 'Nintendo DS BIOS';
  font-size: 20px;
  box-shadow: -2px 0 0 0 black,
              2px 0 0 0 black,
              0 -2px 0 0 black,
              0 2px 0 0 black;
}

.input-desabilitado {
  background: #f2f2f2;
  border: 1px solid #999999;
  padding: 5px;
  margin: 10px 0;
  border-radius: 1px;
  font-family: 'Nintendo DS BIOS';
  font-size: 20px;
  outline: 0;
  box-shadow: -2px 0 0 0 #999999,
              2px 0 0 0 #999999,
              0 -2px 0 0 #999999,
              0 2px 0 0 #999999;
}

.div-nome {
  display: flex;
  flex-direction: column;
}

.div-cpf-aniversario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-cpf {
  display: flex;
  flex-direction: column;
}

.div-aniversario {
  display: flex;
  flex-direction: column;
}

.div-email-tel {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1rem;
}

.div-email {
  display: flex;
  flex-direction: column;
}

.div-telefone {
  display: flex;
  flex-direction: column;
}

.usuario {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 10px 0;
}

.quadrado {
  margin: 10px 20px 10px 0px;
  border: 0.5px solid black;
  width: 80px;
  box-shadow: -2px 0 0 0 black,
              2px 0 0 0 black,
              0 -2px 0 0 black,
              0 2px 0 0 black;
}

.avatar {
  width: 70px;
  margin: 5px;
}

.div-nome-senha {
  display: flex;
  flex-direction: column;
}

::placeholder {
  font-family: 'Nintendo DS BIOS';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 22px;
}

.aviso-campos {
  margin: 0 0 20px 0;
}

.botoes-acao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2rem;
}

.botao-padrao {
  border: 1px solid black;
  padding: 5px;
  margin: 10px 0;
  border-radius: 1px;
  box-sizing: border-box;
  outline: 0;
  text-align: center;
  font-family: 'Nintendo DS BIOS';
  font-size: 30px;
  color: #FFFEFE;
  box-shadow: -4px 0 0 0 black,
              4px 0 0 0 black,
              0 -4px 0 0 black,
              0 4px 0 0 black;
  cursor: pointer;
}

.botao-padrao:hover {
  transform: scale(1.1);
}

.botao-voltar {
  color: #000;
  box-shadow: -4px 0 0 0 black,
              4px 0 0 0 black,
              0 -4px 0 0 black,
              0 4px 0 0 black;
}

.botao-atualizar {
  background: #000000;
  color: #FFFEFE;
  box-shadow: -4px 0 0 0 black,
              4px 0 0 0 black,
              0 -4px 0 0 black,
              0 4px 0 0 black;
}

footer {
  font-family: "Nintendo DS BIOS";
  font-size: 1.25rem;
  color: #fffefe;
  background-color: #000000;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: auto;
}